<!DOCTYPE html>
<html>
<head>
	<title>Edit Profile</title>
</head>
<body>
	<form>
		<h2 style="color: blue;">Edit Profile</h2>
		<label for="username">Username:</label>
		<input type="text" id="username" name="username" value="new Username">
	<br><br>
		<label for="name">Name:</label>
		<input type="text" id="name" name="name" value="new Name">
	<br><br>
		<label for="phone">Phone:</label>
		<input type="tel" id="phone" name="phone" value="New Phone Number">
	<br><br>
		<label for="password">New Password:</label>
		<input type="password" id="password" name="new password">
	<br><br>
		<label for="confirm-password">Confirm New Password:</label>
		<input type="password" id="confirm-password" name="confirm new password">
	<br><br>
		<input type="submit" value="Save Changes">
	</form>
</body>
</html>