<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<header>
		<h1 style = "color: blue;">Welcome to Our Website</h1>
        		<section>
			<h2 style = "background-color: blue; color: wheat;">Latest Updates</h2>
			<p>Welcome to the home page of our user management system. Here you can find the latest updates and features.</p>
		</section>
		<section>
			<h3 style = "color: black;">Featured Content</h3>
			<p>Check out our latest features and updates! Stay tuned for more!</p>
		</section>
		<nav>
			<ul>
				<li><a href="#">Register</a></li>
				<li><a href="#">Login</a></li>
				<li><a href="#">Profile</a></li>
                <li><a href="#">Edit Profile</a></li>
                <li><a href="#">Change Password</a></li>
			</ul>
		</nav>
	</header>
	<footer>
		<p>&copy; 2025 User Management</p>
	</footer>
</body>
</html>