<!DOCTYPE html>
<html>
<head>
	<title>Registration Form</title>
</head>
<body>
	<form>
		<h2>Registration Form</h2>
		<label for="username">Username:</label>
		<input type="text" id="username" name="enter your username">
    <br><br>
		<label for="name">Name:</label>
		<input type="text" id="name" name="enter your name">
    <br><br>
		<label for="phone">Phone:</label>
		<input type="tel" id="phone" name="enter your phone number">
    <br><br>
		<label for="password">Password:</label>
		<input type="password" id="password" name="enter your password">
    <br><br>
		<input type="submit" value="Register">
	</form>
</body>
</html>